@import '../styles/mixins';

// .link-block {
//     border-color: red;
//     background-color: black;
//     color: white;
//     border-width: 5px;
//     border-style: solid;

//     font-style: italic;

//     border-top: 0;
//     border-right: 0;
//     border-left: 0;
// }

.link-block {
    @include style-set('something', solid, 5px);
    @include italic();

    border-top: 0;
    border-right: 0;
    border-left: 0;
}
